<div class="form">
  <div class="signup">
    <h1>{{pageTitle}}</h1>
    <p>Please Enter Details Here:</p>
    <form action="/users/signup" method="POST" class="signup-form" id="signup">
      <input type="hidden" name="_csrf" value="{{csrfToken}}">
      <div>
        <label for="firstName">
          <input type="text" name="firstName" placeholder="First Name" value="{{user.firstName}}" id="firstName">
        </label>
        <p id="ferror" class="error hidden"></p>
      </div>
      <div>
        <label for="lastName">
          <input type="text" name="lastName" placeholder="Last Name" value="{{user.lastName}}" id="lastName">
        </label>
        <p id="lerror" class="error hidden"></p>
      </div>
      <div>
        <label for="email">
          <input type="text" name="email" placeholder="Email Address" value="{{user.email}}" id="email">
        </label>
        <p id="eerror" class="error hidden"></p>
      </div>
      <div>
        <label for="password">
          <input type="password" name="password" placeholder="Password" value="{{user.password}}" id="password">
        </label>
        <p id="perror" class="error hidden"></p>
      </div>
      <div>
        <label for="age">
          <input type="number" name="age" min="13" max="100" placeholder="Age" value="{{user.age}}" id="age">
        </label>
        <p id="aerror" class="error hidden"></p>
      </div>
      <input type="submit" id="submit-button">
      <div id="signup-error" class="error hidden"></div>
    </form>
    <script src="/public/js/sign_up.js"></script>
  </div>
</div>