<h1>{{pageTitle}}</h1>
<h3>My Information</h3>
<table class="profile-user">
    <tr>
        <th>First Name</th>
        <td>{{user.firstName}}</td>
        <th>Last Name</th>
        <td>{{user.lastName}}</td>
    </tr>
    <tr>
        <th>Email Address</th>
        <td>{{user.email}}</td>
        <th>Age</th>
        <td>{{user.age}}</td>
    </tr>
</table>

<h3>My Grocery Lists</h3>
{{#if groceryList.length}}
<ul class="grocerys-list">
    {{#each groceryList}}
    <li class="groceryLists">
        <div class="buttons">
            <strong id="profile-grocery-name">{{this.groceryName}}</strong>
            <a href="/groceryLists/edit/{{this._id}}" title="Edit Grocery list" id="edit-button">Edit</a>
            <a href="/groceryLists/delete/{{this._id}}" title="Delete Grocery List" id="delete-button">Delete</a>
        </div>
        {{#if this.items.length}}
        <ul>
            {{#each this.items}}
            <li>
                {{this.itemName}}
                <table>
                    <tr>
                        <th>Quantity:</th>
                        <td>{{this.quantity}}</td>
                        <th>Priority:</th>
                        <td>{{this.priority}}</td>
                    </tr>
                </table>
            </li>
            {{/each}}
        </ul>
        {{else}}
        <p>This list has no items!</p>
        {{/if}}
        <p><i>{{this.dateCreated}}</i></p>
    </li>
    {{/each}}
</ul>
{{else}}
<p>No Grocery Lists Yet!</p>
{{/if}}

<h3>My Announcements</h3>
{{#if user.announcements.length}}
<ul class="announcements-list">
    {{#each user.announcements}}
    <li class="announcements-post">
        <p>{{this.announcement}}</p>
        {{#unless this.comment.length}}
        <form method="POST" action="/users/profile" class="announcement-form">
            <input type="hidden" name="_csrf" value="{{../csrfToken}}">
            <input type="hidden" name="announcementId" value="{{this._id}}">
            <textarea name="comment" placeholder="Leave A Comment">{{this.comment}}</textarea>
            <button type="submit">Submit</button>
        </form>
        <div class="error-output"></div>
        {{/unless}}
        {{#if this.comment.length}}
        <p>{{this.comment}}</p>
        {{/if}}
        <i>{{this.currentDate}}</i>
    </li>
    {{/each}}
</ul>
<script src="../public/js/announcements.js"></script>
{{else}}
<p>No Announcements Yet!</p>
{{/if}}